@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black dark:bg-slate-950 dark:text-white transition-colors duration-300;
}

.glass {
  @apply backdrop-blur-lg bg-white/70 dark:bg-white/5 border border-black/10 dark:border-white/10;
} */
